.product{
    display: flex;
    margin: 15px;
    padding: 10px;
    border-bottom: 2px solid lightgray;
}
.product-info{
    margin-left: 10px;
}

.product-info h2{
    color:blue;
    font-weight: 400;
    font-size: medium;
}
.purchase-btn{
    background-color: rgb(231, 198, 112);
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    cursor: pointer;

}